
.hero-container {
  position: relative;
  color: white;
  text-align: center;
  padding: 100px 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.2rem;
  color: #ddd;
}


.subcategories-section {
  text-align: center;
  margin: 50px 20px;
}

.subcategories-section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
}

.subcategories-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.subcategory-card {
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
  width: 130px; 
  height: 120px;
}

.subcategory-card img {
  width: 110px;
  height: 130px;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s, box-shadow 0.3s, border 0.3s;
}

.subcategory-card p {
  margin-top: 8px;
  font-weight: 500;
  font-size: 0.95rem;
  color: #333;
}

.subcategory-card:hover img {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border-color: #ff0066;
}

.product-section {
  margin: 50px 20px;
}

.product-section h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
  color: #333;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 20px;
}

.product-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  padding: 10px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  width: 100%;
}

.product-card img {
  width: 100%;
  height: 400px; 
  object-fit: cover; 
  border-radius: 12px;
}

.product-card h4 {
  font-size: 1rem;
  margin: 10px 0 5px;
  color: #333;
}

.product-card p {
  font-weight: bold;
  color: #ff0066;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}


@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .subcategory-card {
    width: 80px;
  }

  .subcategory-card img {
    width: 80px;
    height: 80px;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-card img {
    height: 220px;
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr;
  }

  .product-card img {
    height: 200px;
  }
}  